@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DMBD.Kernel.Model.AdminUser

@section HeaderContent {
	<p style="font-size: large;">Yönetim Paneli Ekranı</p>
}

<!--İÇERİK BAŞLANGICI-->
<h3 class="text-mainpanel" id="welcomeMessage">Yönetici Ekle</h3>
<div class="container-addAdmin">
	<form asp-action="Save" method="post" asp-controller="AdminUser" class="row g-3">

		

		<div class="col-md-6">
			<label asp-for="Name" class="form-label">Adı</label>
			<input asp-for="Name" class="form-control" required maxlength="50" pattern="[A-Za-zğüşöçİĞÜŞÖÇ]+" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="col-md-6">
			<label asp-for="Surname" class="form-label">Soyadı</label>
			<input asp-for="Surname" class="form-control" required maxlength="50" pattern="[A-Za-zğüşöçİĞÜŞÖÇ]+" />
			<span asp-validation-for="Surname" class="text-danger"></span>
		</div>

		<div class="col-md-6">
			<label asp-for="MailAddres" class="form-label">E-Mail</label>
			<input asp-for="MailAddres" class="form-control" required maxlength="50" pattern="[A-Za-zğüşöçİĞÜŞÖÇ]+" />
			<span asp-validation-for="MailAddres" class="text-danger"></span>
		</div>

		<div class="col-md-6">
			<label asp-for="Password" class="form-label">Soyadı</label>
			<input asp-for="Password" class="form-control" required maxlength="50" pattern="[A-Za-zğüşöçİĞÜŞÖÇ]+" />
			<span asp-validation-for="Surname" class="text-danger"></span>
		</div>

		<div class="col-md-6">
			<label asp-for="Password" class="form-label">Şifre</label>
			<input asp-for="Password" class="form-control" required maxlength="50" pattern="[A-Za-zğüşöçİĞÜŞÖÇ]+" />
			<span asp-validation-for="Surname" class="text-danger"></span>
		</div>
	</form>
	<form id="adminForm" onsubmit="return validateForm()">

		<button type="submit" class="btn btn-primary">Kaydet</button>
	</form>
</div>
<!--container-addAdmin-->

<script>
	function validateForm() {
		var password = document.getElementById("password").value;
		var confirmPassword = document.getElementById("confirmPassword").value;

		if (password !== confirmPassword) {
			alert("Şifreler uyuşmuyor!");
			return false; // Formun gönderilmesini engelle
		}

		// Diğer form doğrulama işlemleri buraya eklenebilir

		return true; // Formun gönderilmesine izin ver
	}
</script>