@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DMBD.Kernel.Model.AdminUser

@section HeaderContent {
    <p style="font-size: large;">Yönetim Paneli Ekranı</p>
}

<!--Login ekranı başlangıç-->
<div class="container-middle">
    <div class="container-baslik">
        <h3 class="baslik">YÖNETİCİ PANELİ GİRİŞ EKRANI</h3>
    </div>
    <div class="row-middle">
        <div class="box-admin" style="background-color: #f0f9ff; border: 2px solid #bad1da; border-radius: 10px;">

            <form asp-action="Login" method="post" class="px-4 py-3" id="yonetimPaneli">
                <div class="col-md-6">
                    <label asp-for="MailAddres" class="form-label">E-mail</label>
                    <input asp-for="MailAddres" class="form-control" required maxlength="50" placeholder="name@erzurum.edu.tr" />
                    <span asp-validation-for="MailAddres" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Password" class="form-label">Şifre</label>
                    <input asp-for="Password" class="form-control" required maxlength="50" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="submit" href="@Url.Action("AdminPanel", "AdminPanel")" class="btn btn-outline-primary">Giriş Yap</button>
                </div>

                @* <script>
                    function openAdminPanel() {
                        window.location.href = '/Home/AdminPanel';
                    }
                </script> *@
            </form>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="text-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }
        </div>
    </div> <!--row-->
</div> <!--container-middle-->

<script>
    // Form elemanlarını seç
    const yonetimPaneli = document.getElementById('yonetimPaneli');
    const emailInput = document.querySelector('input[name="MailAddres"]');
    const passwordInput = document.querySelector('input[name="Password"]');

    // Form submit olduğunda çalışacak fonksiyon
    yonetimPaneli.addEventListener('submit', function (event) {
        // Form verilerini al
        const userData = {
            formEmail: emailInput.value,
            inputPassword: passwordInput.value
        };

        // Verileri localStorage'a kaydet
        localStorage.setItem('userData', JSON.stringify(userData));
    });

    // Sayfa yüklendiğinde form verilerini kontrol et ve doldur
    window.addEventListener('load', function () {
        const storedUserData = localStorage.getItem('userData');
        if (storedUserData) {
            const userData = JSON.parse(storedUserData);
            emailInput.value = userData.formEmail;
            passwordInput.value = userData.inputPassword;
        }
    });
</script>
