@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["BodyClass"] = "plain-background";
}

@model DMBD.Kernel.Model.AdminUser

@section HeaderContent {
	<p style="font-size: large;">Yönetim Paneli Ekranı</p>
}


<!--İÇERİK BAŞLANGICI-->
<div class="container-aside">
	<div class="row">
		<div class="col-sm-1 ">
			<button class="btn btn-primary drawer-toggle" id="drawerToggleBtn">
				<i class="fas fa-bars"></i>
			</button>
			<!--Menü-->
			<div class="drawer-menu" id="drawerMenu">
				<!-- Drawer menü içeriği buraya gelecek -->
				<nav class="nav flex-column">
					<a class="nav-link active" onclick="loadAddAdminPage()" href="#">Yönetici Ekle</a>
					<a class="nav-link" onclick="listAdminPage()" href="#">Yönetici Listele</a>
					<a class="nav-link" onclick="studentApplicationPage()" href="#">Öğrenci Başvuruları</a>
				</nav>

				<!-- JavaScript kodu -->
				<script>
					$(document).ready(function () {
						$('#drawerToggleBtn').click(function () {
							$('#drawerMenu').toggle('slow');
						});
					});
				</script>
			</div><!--drawer menü-->
		</div><!--col-sm-1->

		<!--İçerik Başlangıç-->
		<div class="col-sm-11">
			<div class="box-main">
				<div class="container-mainpanel">
					<h3 class="text-mainpanel" id="welcomeMessage">Yönetici Paneline Hoş Geldiniz</h3>
					<div id="addAdminContainer"></div>
				</div><!--container-mainpanel-->
			</div>
		</div><!--col-sm-8 alan-->
		<!--İçerik Bitiş-->
	</div><!--row-->

</div> <!--container-aside-->
<!--İÇERİK BİTİŞİ-->
<script>
	function startPage() {
		window.location.href = "/Home/AdminPanel";
	}

	function loadAddAdminPage() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("addAdminContainer").innerHTML = this.responseText;
				hideWelcomeMessage();
			}
		};
		xhttp.open("GET", "/Home/AddAdmin", true);
		xhttp.send();
	}

	function listAdminPage() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("addAdminContainer").innerHTML = this.responseText;
				hideWelcomeMessage();
			}
		};
		xhttp.open("GET", "/AdminPanel/AdminList", true);
		xhttp.send();
	}

	function studentApplicationPage() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("addAdminContainer").innerHTML = this.responseText;
				hideWelcomeMessage();
			}
		};
		xhttp.open("GET", "/Student/StudentApplicationList", true);
		xhttp.send();
	}

	function hideWelcomeMessage() {
		var welcomeMessage = document.getElementById("welcomeMessage");
		welcomeMessage.style.display = "none";
	}

	//Menü ekranı
	function toggleDrawer() {
		var drawerMenu = document.querySelector('.drawer-menu');
		drawerMenu.style.display = drawerMenu.style.display === 'block' ? 'none' : 'block';
	}

</script>