			@{
				ViewData["Title"] = "ETÜ";
			}
			
			@using DMBD.Kernel.DTOs;
			@model DMBD.Kernel.DTOs.StudentDto


			<!--sayfa düzeni için container-->
			<div class="container-fluid">
				<div class="row">
					<!--SOL BLOK BAŞLANGIÇ-->
					<div class="col">
						<div class="box" style="background-color: #f0f9ff; border: 2px solid #bad1da; border-radius: 10px;">
							<!--sol kutu-->
							<!--ÖĞRENCİ BİLGİLERİ BAŞLANGICI-->
							<div class="container">
							<h5>Öğrenci Bilgileri <span class="subtext">- Önce doldurulması gereken alan</span></h5>
								<br><br>
								<!--FORM BAŞLANGICI -->
								<!--<form action="action1.php">-->
					<form asp-action="Save" method="post" asp-controller="Student" class="row g-3">
						<div class="col-md-6">
							<label asp-for="Name" class="form-label">Adı</label>
							<input asp-for="Name" class="form-control" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="Surname" class="form-label">Soyadı</label>
							<input asp-for="Surname" class="form-control" />
							<span asp-validation-for="Surname" class="text-danger"></span>
						</div>

						<div class="col-md-6">
							<label asp-for="TcNo" class="form-label">TcNo</label>
							<input asp-for="TcNo" class="form-control" id="TcNoInput" onchange="setStudentId()" />
							<span asp-validation-for="TcNo" class="text-danger"></span>
						</div>

						<script>
							function setStudentId() {
								var tcNo = document.getElementById("TcNoInput").value;
								document.getElementById("StudentIdInput").value = tcNo;
							}
						</script>

						<input asp-for="StudentId" type="hidden" id="StudentIdInput" />

						<div class="col-md-6">
							<label asp-for="StudentNo" class="form-label">Öğrenci Numarası</label>
							<input asp-for="StudentNo" class="form-control" />
							<span asp-validation-for="StudentNo" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="MailAddress" class="form-label">E-Posta Adresi</label>
							<input asp-for="MailAddress" class="form-control" />
							<span asp-validation-for="MailAddress" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
							<input asp-for="PhoneNumber" class="form-control" />
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="RegisterType" class="form-label">Kayıtlanma Şekli</label>
							<select asp-for="RegisterType" class="form-control" id="RegisterType" required style="border: 2px solid #bad1da; border-radius: 10px;">
								<option disabled selected value="">Select</option>
								<option value="1">YKS</option>
								<option value="2">DGS</option>
								<option value="3">Ek Madde-1</option>
								<option value="4">AGNO ile Merkezi Yatay Geçiş</option>
							</select>
							<span asp-validation-for="RegisterType" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="PreSchoolName" class="form-label">Eski Okul Adı</label>
							<input asp-for="PreSchoolName" class="form-control" />
							<span asp-validation-for="PreSchoolName" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="PreFacultyName" class="form-label">Eski Fakülte Adı</label>
							<input asp-for="PreFacultyName" class="form-control" />
							<span asp-validation-for="PreFacultyName" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="PreDepartmentName" class="form-label">Eski Departman Adı</label>
							<input asp-for="PreDepartmentName" class="form-control" />
							<span asp-validation-for="PreDepartmentName" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="DepartmentName" class="form-label">Departman Adı</label>
							<select class="form-control" id="DepartmentSelect" onchange="setDepartmentDetails()">
								<option value="1">Makine Mühendisliği</option>
								<option value="2">Bilgisayar Mühendisliği</option>
							</select>
							<input type="hidden" asp-for="DepartmentId" id="DepartmentIdInput" value="1"/>
							<input type="hidden" asp-for="DepartmentName" id="DepartmentNameInput" value="Makine Mühendisliği" />
							<span asp-validation-for="DepartmentId" class="text-danger"></span>
						</div>

						<script>
							function setDepartmentDetails() {
								var select = document.getElementById("DepartmentSelect");
								var selectedOption = select.options[select.selectedIndex];
								var departmentId = selectedOption.value;
								var departmentName = selectedOption.text;

								document.getElementById("DepartmentIdInput").value = departmentId;
								document.getElementById("DepartmentNameInput").value = departmentName;
							}
						</script>

						<div class="col-md-6">
							<label asp-for="Id" class="form-label" >Id</label>
							<select asp-for="Id" asp-items="ViewBag.students" class="form-control"></select>
						</div>
						
						<!--EKLER BAŞLANGIÇ-->

						<div class="container">
							<h5>Ekler</h5>
							<div class="container row g-2">
								<div class="col-sm">
									<label for="">*Not Döküm Belgesi (Onaylı PDF)</label>
									<br>
									<input type="file" accept=".pdf" required>
								</div>
								<div class="col-sm">
									<label for="">*Ders İçerikleri (Onaylı PDF)</label>
									<br>
									<input type="file" accept=".pdf" required>
								</div>
								<br><br>
							</div>
							<br>
						</div>
						<!--EKLER BİTİŞ-->
						<div class="col-12">
							<button type="submit" href="@Url.Action("Subject", "Subject")" class="btn btn-primary"> Kaydet </button>
						</div>

						@if (TempData["SuccessMessage"] != null)
						{
							<div class="alert alert-success" role="alert">
								@TempData["SuccessMessage"]
							</div>
						}
					</form>
								<!--FORM BİTİŞİ-->
							</div>

							<!--ÖĞRENCİ BİLGİLERİ BİTİŞİ-->
							
							
						</div>
					</div>
				</div>

				<!--SOL BLOK BİTİŞ-->
				<!--KAYDEDILEN DERS BILGILERI BİTİŞ-->


				<script>
					document.getElementById('userInfoForm').addEventListener('submit', function (event) {
						event.preventDefault(); // Formun submit işlemini durdur

								//kullanıcı bilgilerini al
					
								var preschool = document.getelementbyıd('preschool').value;
								var prefaculty = document.getelementbyıd('prefac').value;
								var department = document.getelementbyıd('departmentname').value;
					
								//kullanıcı bilgilerini ikinci sayfaya gönder
								window.location.href = "Index.cshtml";
							});
				</script>

				<!--FORM BİTİŞİ-->
</div> <!--container-fluid-->

			