    <!--İÇERİK BAŞLANGICI-->

<div class="container-application">
    <h3 class="text-mainpanel">Öğrenci Başvuruları</h3>
    <div class="container-split">
        <div class="row">
            <div class="col-sm-7">
                <div class=""></div>
                <table class="table-student">
                    <thead>
                        <tr>
                            <th scope="col">Adı</th>
                            <th scope="col">Soyadı</th>
                            <th scope="col">E-Mail</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">Araçlar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="submit" onclick="detail()" class="btn btn-primary">
                                    Detay
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--col-->
            <div class="col-sm-5">
                <div class="detail">
                    <h5 class="text-mainpanel">Öğrenci Detay Ekranı</h5>
                    <table class="table-student">
                        <tr>
                            <th scope="col">Adı</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">Soyadı</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">E-Mail</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">Kayıtlanma Şekli</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">Önceden Okuduğu Üniversite</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">Fakülte</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">Bölüm</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">Not Döküm Belgesi</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">Ders İçerikleri</th>
                            <td></td>
                        </tr>
                    </table>
                    <br>
                    <h5 class="text-mainpanel">Saydırmak İstenen Dersler</h5>
                    <table class="table-student">
                        <tr>
                            <th scope="col">Ders Adı</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">Kredi</th>
                            <td></td>
                        </tr>

                        <tr>
                            <th scope="col">AKTS</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">ETÜ Karşılığı Ders Adı</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="col">Kredi</th>
                            <td></td>
                        </tr>

                        <tr>
                            <th scope="col">AKTS</th>
                            <td></td>
                        </tr>

                        <tr></tr>
                    </table>
                </div>
                <!--detail-->
            </div>
            <!--col-->
        </div>
        <!--row-->
    </div>
    <!--container-split-->
</div>
<!--container-application-->