/* Ekran genişliği 600 pikselden küçükse */
@media only screen and (max-width: 600px) {
    /* Özel stil kuralları */
    body {
        font-size: 14px;
    }
}

body {
    padding-top: 6rem;
    background-color: rgb(235, 244, 244);
}

.navbar {
    flex-wrap: nowrap;
    --bs-navbar-padding-y: 0rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-text {
    font-size: 18px;
    color: white;
    padding-bottom: 0rem;
}

.container {
    padding-right: 0%;
    padding-top: 1rem;
}

.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* İki sütun */
    gap: 10px; /* Boşluk */
}

.box {
    background-color: lightblue;
    min-height: 37rem;
}





.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* İki sütun */
    gap: 10px; /* Boşluk */
}

.specific-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; /* İsteğe bağlı: Sütunlar arasındaki boşluk */
    overflow-y: auto; /* Dikey kaydırma*/
    max-height: 240px; /* Container'ın maksimum yüksekliği*/
    padding: 20px;
}


input[type="text"],
input[type="email"] {
    width: 15rem; /* input alanı genişlik ayarı */
}

select {
    width: 15rem; /* Genişlik ayarı */
}

#registeredCourse {
    width: 200%; /* Tablo genişliği */
}

    #registeredCourse th {
        width: 33%; /* Her sütunun genişliği*/
    }

        #registeredCourse th:nth-child(1) {
            /* row satırı */
            width: 10%;
        }



        /*yonetici.css içeriği*/
.container-middle {
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 0%;
    padding-top: 10rem;
}

.box-admin {
    padding-top: 20px;
}

.baslik {
    text-align: center;
    color: #456097
}

.btn {
    background-color: #456097;
    color: white;
    border: 2px solid #bad1da;
    border-radius: 10px;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-wrap: wrap;
}


/*pdfStyle.css içeriği*/

.container-a4 {
    padding-top: 1rem;
    width: 21cm;
    height: 29.7cm;
    font-family: 'Times New Roman', Times, serif;
}

.container-padding {
    padding-left: 4em;
    padding-right: 4em;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

p {
    text-indent: 20px; /* İstenilen girinti miktarı */
}

.table-header {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.girintili-paragraf {
    text-indent: 3em;
    font-size: 14px;
}

.container-signature {
    margin-left: 30rem;
    font-weight: bold;
    font-size: 17px;
}

.container-yonetmelik {
    table

{
    width: 100%;
    border-collapse: collapse;
}

.baslik {
    font-weight: bold;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 11px;
}

}


.result-department {
    font-size: 14px;
}

.result-text {
    text-indent: 3em;
    font-size: 14px;
}
