/* Ekran genişliği 600 pikselden küçükse */
@media only screen and (max-width: 600px) {
    /* Özel stil kuralları */
    body {
        font-size: 14px;
        
    }
    .container {
        padding-top: 10rem;
    }
}

@media (max-width: 768px) {
    .col-md-8 {
        padding-top: 8rem;
    }
}


@media (max-width: 480px) {
    .responsive-input {
        padding-top: 6rem;
    }
}

body {
    padding-top: 8rem;
    background-color: rgb(243, 250, 250);
}

.navbar {
/    flex-wrap: nowrap;
    --bs-navbar-padding-y: 0rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Diğer elementlerin üzerinde olacak şekilde */
}
.navbar-text {
    font-size: 18px;
    color: white;
    padding-bottom: 0rem;
}



/*.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;*/ /* İki sütun */
    /*gap: 10px;*/ /* Boşluk */
/*}*/

.box {
    min-height: 37rem;
}




.specific-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; /* Sütunlar arasındaki boşluk */
    overflow-y: scroll; 
    min-height: 200px;
    max-height: 240px;
    padding: 20px;
}

h5 {
    display: inline;
}

.subtext {
    font-size: 16px; /* Bu, paragraf boyutuna yakın bir boyuttur */
    font-weight: normal;
    color: gray;
}

/*input[type="text"],
input[type="email"] {
    width: 15rem;*/ /* input alanı genişlik ayarı */
/*}*/

select {
    width: 15rem; /* Genişlik ayarı */
}

#registeredCourse {
    width: 200%; /* Tablo genişliği */
}

    #registeredCourse th {
        width: 33%; /* Her sütunun genişliği*/
    }

        #registeredCourse th:nth-child(1) {
            /* row satırı */
            width: 10%;
        }



/*yonetici.css içeriği*/
.container-middle {
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 0%;
    padding-top: 10rem;
}

.box-admin {
    padding-top: 20px;
}

.baslik {
    text-align: center;
    color: #456097
}

.btn {
    background-color: #456097;
    color: white;
    border: 2px solid #bad1da;
    border-radius: 10px;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-wrap: wrap;
}


/*pdfStyle.css içeriği*/

.container-a4 {
    padding-top: 1rem;
    width: 21cm;
    height: 29.7cm;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
}

.container-padding {
    padding-left: 4em;
    padding-right: 4em;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

p {
    text-indent: 20px; /* İstenilen girinti miktarı */
}

.table-header {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.girintili-paragraf {
    text-indent: 3em;
    font-size: 14px;
}

.container-signature {
    margin-left: 30rem;
    font-weight: bold;
    font-size: 17px;
}

.container-yonetmelik {
    table
{
    width: 100%;
    border-collapse: collapse;
}

.baslik {
    font-weight: bold;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 11px;
}

}


.result-department {
    font-size: 14px;
}

.result-text {
    text-indent: 3em;
    font-size: 14px;
}

/*ADMIN PANEL*/

.container-aside {
    width: 100%;
    box-sizing: border-box;
}

/*.aside-box {*/ /*sol kutu*/
    /*min-height: 37rem;
    max-height: 37rem;
    background-color: #cedde6;
    border: 2px solid #bad1da;
    border-radius: 10px;

}*/

.col-sm-3 {
    min-height: 37rem;
    max-height: 37rem;
    background-color: #cedde6;
    border: 2px solid #bad1da;
    border-radius: 10px;
}

.box-main {
    min-height: 37rem;
}

.row {
    display: flex; 
    flex-wrap: wrap;
}


.container-mainpanel {
    background-color: #f0f9ff;
    border: 2px solid #bad1da;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0rem; /* Ayarlanan margin */
    padding-top: 30px;
    padding-right: 0rem; /* Ayarlanan dolgu */
    padding-bottom: 10px;
    padding-left: 0px;
    overflow-y: scroll;
    max-height: 37rem;
}

.text-mainpanel {
    text-align: center;
    color: #456097;
}

/*.text-center {
    text-align: -webkit-right;
}
*/


/*addAdmin */

.container-addAdmin {
    margin: 0%;
    padding-left: 50px;
}


/*adminList GÜNCELLEŞTİRMELERİ BURADA*/
.table-list th, .table-list td {
    width: 25%; /* kolonlar arası eşit mesafe */
}

.container-list {
    padding-left: 50px;
    margin: 0%;
}

/*öğrenci başvuruları listeleme*/
.container-split {
    padding-left: 10px;
    margin: 0%;
    padding-top: 20px;
}

.table-student {
    table-layout: fixed;
    width: 100%;
    text-align: start;
}

    .table-student th,
    .table-student td {
        word-wrap: break-word;
    }

.detail {
    background-color: #cedde6;
    border: 2px solid #bad1da;
    border-radius: 10px;
    padding: 10px;
}



.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Alanlar arasında boşluk bırakmak için */
}

.responsive-input {
    flex: 1 1 6ch; /* flex-grow: 1, flex-shrink: 1, flex-basis: 6ch */
    min-width: 6ch; /* Minimum genişlik */
    max-width: 100%; /* Maksimum genişlik */
    box-sizing: border-box; /* İçerik kutusunu sınırlar */
}





.table-subject {
    background-color: #d1e4f2;
    border: 1px solid #456097;
    width: 100%;
    border-collapse: collapse;
}

.box-subject {
    margin-top: 5px;
}

.container-pdfHeader{
    padding:10px;
}

.container-student{
    padding:1rem;
}