/* Ekran genişliği 600 pikselden küçükse */
@media only screen and (max-width: 650px) {
    /* Özel stil kuralları */
    body {
        font-size: 14px;
    }
}

.navbar{
    flex-wrap: nowrap;
    --bs-navbar-padding-y: 0rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-text {
    font-size: 18px; 
    color: white; 
    padding-bottom: 0rem;
}

body {
    padding-top: 6rem;
}

.container-middle{
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 0%;
    padding-top: 10rem;

}

.box{
    padding-top: 20px;
}

.baslik{
    text-align: center;
    color: #456097
}

.btn{
    background-color: #456097; 
    color: white; 
    border: 2px solid #bad1da; 
    border-radius: 10px;
}