@using DMBD.Kernel.DTOs
@model StudentDto

@{
	ViewData["Title"] = "Save";
}

<h1>Save Student</h1> 
<div class="row">
	           
	s=col-md-6>

		<form asp-action="Save" method="post" asp-controller="Student">

			<div class="form-group">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Surname"></label>
				<input asp-for="Surname" class="form-control" />
				<span asp-validation-for="Surname" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="TcNo"></label>
				<input asp-for="TcNo" class="form-control" />
				<span asp-validation-for="TcNo" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="StudentNo"></label>
				<input asp-for="StudentNo" class="form-control" />
				<span asp-validation-for="StudentNo" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="MailAddress"></label>
				<input asp-for="MailAddress" class="form-control" />
				<span asp-validation-for="MailAddress" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="PhoneNumber"></label>
				<input asp-for="PhoneNumber" class="form-control" />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="RegisterType"></label>
				<input asp-for="RegisterType" class="form-control" />
				<span asp-validation-for="RegisterType" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="PreSchoolName"></label>
				<input asp-for="PreSchoolName" class="form-control" />
				<span asp-validation-for="PreSchoolName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="PreFacultyName"></label>
				<input asp-for="PreFacultyName" class="form-control" />
				<span asp-validation-for="PreFacultyName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="PreDepartmentName"></label>
				<input asp-for="PreDepartmentName" class="form-control" />
				<span asp-validation-for="PreDepartmentName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="DepartmentName"></label>
				<input asp-for="DepartmentName" class="form-control" />
				<span asp-validation-for="DepartmentName" class="text-danger"></span>
			</div>
			<!--Department Id Secilen Departmana gore Otomatik Atilacaktir-->
			 <div class="form-group">
				<label asp-for="DepartmentId"></label>
				<input asp-for="DepartmentId" class="form-control" />
				<span asp-validation-for="DepartmentId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="StudentId"></label>
				<select asp-for="TcNo" asp-items="ViewBag.students" class="form-control"></select>
			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn-primary" />
			</div>
		</form>
	</div>
</div>
