@using DMBD.Kernel.DTOs
@model DMBD.Kernel.DTOs.SubjectDto

<div class="container">
    <h5>Ders Bilgileri</h5>
    <form asp-action="Create" method="post" asp-controller="Subject" class="row g-3">
        <div class="col-md-6">
            <label asp-for="SubjectName" class="form-label">Daha Önce Alınan Ders Adı</label>
            <span asp-validation-for="SubjectName" class="text-danger"></span>
            <select asp-for="SubjectName" class="form-control" id="SubjectName" required>
                <option disabled selected value="">Seçiniz</option>
               @*  @foreach (var subject in ViewBag.Subjects)
                {
                    <option value="@subject.SubjectName">@subject.SubjectName</option>
                } *@
            </select>
        </div>

        <div class="col-md-6">
            <label asp-for="SubjectCredit" class="form-label">Kredisi</label>
            <input asp-for="SubjectCredit" class="form-control" id="SubjectCredit" readonly />
            <span asp-validation-for="SubjectCredit" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="SubjectAkts" class="form-label">AKTS Bilgisi</label>
            <input asp-for="SubjectAkts" class="form-control" id="SubjectAkts" readonly />
            <span asp-validation-for="SubjectAkts" class="text-danger"></span>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="btn btn-primary" type="submit" value="Dersi Ekle" />
        </div>
    </form>
</div>

@* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#SubjectName').change(function() {
            var selectedSubjectName = $(this).val();
            var subjects = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Subjects));

            var selectedSubject = subjects.find(subject => subject.SubjectName === selectedSubjectName);

            if (selectedSubject) {
                $('#SubjectCredit').val(selectedSubject.SubjectCredit);
                $('#SubjectAkts').val(selectedSubject.SubjectAkts);
            }
        });
    });
</script> *@