@using DMBD.Kernel.DTOs;
@model DMBD.Kernel.DTOs.SubjectDto


<!--SAĞ BLOK BAŞLANGIÇ-->

<div class="col">
	<div class="box" style="background-color: #f0f9ff; border: 2px solid #bad1da; border-radius: 10px;">
		<div class="container">
			<h5>Ders Bilgileri</h5>
			<!--BACK END DOSYASI-->

			<form asp-action="Save" method="post" asp-controller="Subject" class="row g-3">

				<!--DAHA ÖNCE ALINAN DERS BİLGİLERİ-->
				<div class="container">
					<div class="grid-container">
						<div class="left-container">
							<h6>Daha Önce Alınan Dersin;</h6>
							<div class="col-sm-7">
								<label asp-for="SubjectName" class="form-label">Ders Adı</label>
								<span asp-validation-for="SubjectName" class="text-danger"></span>
								<br>
								<select asp-for="SubjectName" placeholder="Seçiniz" class="form-control" id="SubjectName" required style="border: 2px solid #bad1da; border-radius: 10px;">
									<option disabled selected value="">Seçiniz</option>
								</select>
							</div>

							<div class="container row g-2">
								<div class="col-sm">
									<label asp-for="SubjectCredit" class="form-label">Kredi</label>
									<span asp-validation-for="SubjectCredit" class="text-danger"></span>
									<br>

									<label for="akts">AKTS:</label>
									<br>
									<input type="number" placeholder="00" name="SubjectAKTS" id="akts" style="border: 2px solid #bad1da; border-radius: 10px; width: 6ch;" maxlength="6" disabled>
								</div>
							</div>
						</div>

						<div class="right-container">
							<h6>Muaf Olunması İstenen Dersin;</h6>
							<div class="col-sm-7">
								<label for="muafDersAdi">*Ders Adı:</label>
								<br>
								<!--name=" " ve id=" " isimlendirmeleri değişecek-->
								<select name="RegisterType2" id="muafDersAdi" required style="border: 2px solid #bad1da; border-radius: 10px; width: 15ch;">
									<option disabled selected value="">Seçiniz</option>
									<option value="ders1">Ders1 Örneği fsdmfnösdmnfmösdnfömsdnfödsnfmsdnfmndfmdmöfndsöfnömdsnff</option>
									<option value="ders2">Ders2 Örneği</option>
									<option value="ders3">Ders3 Örneği</option>
									<option value="ders4">Ders4 Örneği</option>
								</select>
							</div>
							<div class="container row g-2">
								<div class="col-sm">
									<label for="kredi">Kredi:</label>
									<br>
									<input type="number" placeholder="00" name="SubjectCredit" id="muafKredi" style="border: 2px solid #bad1da; border-radius: 10px; width: 6ch;" maxlength="6" disabled>
								</div>
								<div class="col-sm">
									<label for="akts">AKTS:</label>
									<br>
									<input type="number" placeholder="00" name="SubjectAKTS" id="muafAkts" style="border: 2px solid #bad1da; border-radius: 10px; width: 6ch;" maxlength="6" disabled>
								</div>
							</div>
							<br>
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<input class="btn" type="submit" value="Dersi Ekle" style="background-color: #456097; color: white; border: 2px solid #bad1da; border-radius: 10px;">
							</div>

						</div>
					</div>
			</form>
		</div>

		<!--KAYDEDILEN DERS BILGILERI BAŞLANGI-->
		<div class="container">
			<h5>Kaydedilen Ders Bilgileri</h5>
			<div class="container" style="background-color: #d1e4f2; border: 2px solid #bad1da; border-radius: 10px;">

				<div class="specific-container">

					<table class="table table-light" id="registeredCourse">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Ders Kodu</th>
								<th scope="col">Muaf Olunmak İstenen Ders</th>
								<th scope="col">Kredi</th>
								<th scope="col">AKTS</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td> kod veri tabanından gelecek </td>
								<td id="muafDersAdi"> </td>
								<td id="muafKredi"> </td>
								<td id="muafAkts"> </td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td> kod veri tabanından gelecek </td>
								<td id="muafDersAdi"> </td>
								<td id="muafKredi"> </td>
								<td id="muafAkts"> </td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td> kod veri tabanından gelecek </td>
								<td id="muafDersAdi"> </td>
								<td id="muafKredi"> </td>
								<td id="muafAkts"> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	<button class="btn btn-primary me-md-2" onclick="ac()" type="button" style="background-color: #456097; color: white; border: 2px solid #bad1da; border-radius: 10px;">Sonraki Sayfa</button>

	<script>
		function ac() {
			window.location.href = "/Home/PdfScreen";
		}
	</script>


</div>
<!--KAYDEDILEN DERS BILGILERI BİTİŞ-->

